/* Product.css */

.product-page {
    text-align: center;
    padding: 2rem;
  }
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .cards-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 1rem;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease;
    width: 300px;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .card p {
    font-size: 1rem;
    color: #666;
  }
  
  .price {
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  .btn {
    background-color:orange;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .arrow {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #007bff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .left-arrow {
    left: 0;
  }
  
  .right-arrow {
    right: 0;
  }
  
  .arrow:focus,
  .btn:focus {
    outline: none;
  }
  
  .btn:hover {
    background-color:orangered;
  }
  